.overlay {
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0%;
    transition: 0.2s;
    z-index: 2;
}

.overlay.show {
    pointer-events: all;
    opacity: 1;
}

.sidenav {
    background: rgb(17, 17, 17);
    position: fixed;
    pointer-events: none;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s;
    height: 100vh;
    width: 350px;
    left: 0%;
    top: 0%;
    z-index: 2;
    transform: translateX(-50px);
}

.sidenav.show {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0px);
}

.sidenav ul {
    margin: 20px 0px;
}

.sidenav ul li a {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14.5px;
    padding: 13px 35px;
    transition: 0.3s;
}

.sidenav ul li a:hover {
    background: rgb(30, 30, 30);
}

.icn {
    font-size: 23px;
}

